.blog-header-wrap {
    // width: 100%;
}

.nav-wrap {
    background-image: linear-gradient(120deg, rgb(21, 87, 153), rgb(21, 153, 87));
    background-color: rgb(21, 153, 87);
    border-color: rgb(21, 153, 87);
    a {
        color: rgb(248, 236, 236) !important;
    }
    .header-dropdown {
        >a:focus {
            background-color: rgb(21, 153, 87) !important;
        }
        >ul {
            background-image: linear-gradient(120deg, rgb(21, 87, 153), rgb(21, 153, 87));
            background-color: rgb(21, 153, 87);
            >li {
                >a:hover {
                    background-color: rgb(21, 153, 87) !important;
                }
            }
        }
    }
}

.link {
    text-decoration: none;
    color: rgb(157, 157, 157);
}

.link:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}